body{
    max-width: 1170px;
    justify-content: center;
}
.container:hover{
    background-color: turquoise;
}
.container{
    display: flex;
    width: 900px;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background-color: blueviolet;
    margin: 0px auto;
}
h2{
    text-align: center;
}
div button{
    background-color: cadetblue;
    font-size: 1.25em;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}
div button:hover{
    background-color: cornflowerblue;
}
div img{
    width: 300px;
    border-radius: 10px;
}